@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="text-center">
    <h1>Health Check UI</h1>
    <p>
        You can check the Health of the application by visiting the <a href="/HealthInfo">HealthInfo</a> page, and view the default Health response in
        <a href="/health">/health</a>
    </p>
</div>